body {
    display: table;
}

.h1 p {
    text-align: center;   
    font-size: 90px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.img1 {
width: 600px;
margin-left: 20px;  
}

.img2 {
width: 500px;
margin-top: -50px;
margin-left: 50px;
}

.img22 {
width: 500px;
margin-left: 80px;
}

.img3 {
width: 700px;
margin-top: -280px;
}

.p {
font-size: 40px;
text-align: right;
margin-left: 270px;
margin-right: -300px;  
margin-top: 30px;
font-family: 'Caveat', cursive;
color: #808080;
display: block;
}

.pp {
font-size: 40px;
text-align: right;
margin-left: 250px;
margin-right: -300px;  
margin-top: 30px;
font-family: 'Caveat', cursive;
color: #808080;
}

.p2 {
font-size: 55px;
text-align: center;
margin-left: 480px;
margin-right: -300px;  
margin-top: -25px;
font-family: 'Caveat', cursive;
}

.p3 {
font-size: 40px;
text-align: left;
margin-left: 450px;
margin-right: -300px;  
margin-top: -10px;
font-family: 'Caveat', cursive;
}

.p4 {
font-size: 40px;
text-align: center;
margin-left: 440px;
margin-right: -400px;  
margin-top: -215px;
font-family: 'Caveat', cursive;
}


.text p {
font-size: 40px;
margin-top: -230px;
}

.row {
 width: 100%;
}

.neo {
  margin-top: -500px; 
margin-left: -375px;  
}
    
button {
    background: url(images/5.png);
    width: 500px;
    height: 120px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
}

.square a {
    text-decoration: none;
    color: black !important;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
}

.square a:hover {
    text-decoration: none;
    display: block;
}

.buttons {
    margin-left: 1370px;
    margin-top: -170px;
    display: block;
}