body {
    background-color: white;
    min-height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container {
    max-width: 600px;
    width: 100%;
}

.sum {
    text-align: center;
    font-size: 130px;
    font-family: 'Fira Sans Thin';
}

.sum p {
  margin: 0 auto;  
}

.score p {
  margin: 0 auto;  
}

.score {
    text-align: center;
    font-size: 80px;
    font-family: 'Fira Sans Thin';
    margin: 0 auto;
}

.buttons {
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.square {
    background: #a6a3c7;
    float: left;
    margin: 1.66%;
    width: 180px;
    height: 180px;
    font-size: 80px; 
    font-family: 'Fira Sans Thin';
}

.img1 img {
    width: 100%;
    padding: 5% 0;
}

#show {
    display: none;
    max-width: 800px;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #a6a3c7;
    opacity: 0.95;
}

.row {
    text-align: center;
        color: #000000;
        position: relative;
        top: 15%;
}

.close {
    display: inline-block;
    color: #000000;
    padding: 10px 30px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 30pt;
    border-radius: 20px;
    cursor:pointer;
    font-family: 'Fira Sans Thin';
}

.row p {
    font-size: 60px; 
    font-family: 'Fira Sans Thin';
    margin: 0 auto;
}

.img2 img {
    width: 80%;
}