body {
    background: url(images/sait1.png) no-repeat;
    background-size: 1080px;
    background-attachment: fixed;
    background-position:center;
    min-height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    max-width: 600px;
    width: 100%;
    z-index: 1;
}


.footer p {
    text-align: center;
    font-family: 'Fira Sans Thin';
}

.sum {
    text-align: center;
    font-size: 130px;
    font-family: 'Fira Sans Thin';
}

.sum p {
  margin: 0 auto;  
}

.score p {
  margin: 0 auto;  
}

.score {
    text-align: center;
    font-size: 80px;
    font-family: 'Fira Sans Thin';
    margin: 0 auto;
}

.buttons {
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.square {
    background: #a6a3c7;
    float: left;
    margin: 1.66%;
    width: 25vh;
    height: 180px;
    font-size: 80px; 
    font-family: 'Fira Sans Thin';
}

.img1 img {
    width: 100%;
    padding: 5% 0;
}

#show {
    display: flex;
    max-width: 800px;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #a6a3c7;
    opacity: 0;
    transition: 0.80s ease-in-out;
}

.row {
    text-align: center;
    color: #000000;
    position: relative;
    transform: translate(0, 0px);
    width: 100%;
    padding: 50px;

}

.close {
    display: inline-block;
    color: #000000;
    padding: 20px 100px;
    text-decoration: none;
    background: #80577b;
    font-size: 30pt;
    border-radius: 20px;
    cursor:pointer;
    font-family: 'Fira Sans Thin';
    color: white;
}

.text p {
    font-size: 60px; 
    font-family: 'Fira Sans Thin';
    margin: 0 auto;
}

@media screen and (max-width: 602px) {
.row {
    padding: 30px; 
}
}

.img2 img {
    width: 100%;
    padding: 4% 0;
}

.scoreEnd p {
    text-align: center;
    font-size: 45px;
    font-family: 'Fira Sans Thin';
    margin: 0 auto;
    padding: 4% 0;
}